* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    font-size: 1.1rem;
}
.navbar ul li a {
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover {
    border-bottom: 2px solid #ff0;
}
#pocetna {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
#pocetna::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(bg.jpg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.heading {
    color: #fff;
    font-size: 3rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    transform: scale(1, 1.3);
}
#galerija {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#galerija h1 {
    margin: 60px;
}
.slike {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.slike img {
    width: 360px;
    height: 640px;
    padding: 10px;
    margin: 10px;
}
.slike img:hover {
    background-color: #ffde2b;
    cursor: pointer;
}
#skilovi {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#skilovi h1 {
    margin: 60px;
}
.columns {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box {
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2 {
    color: #ffde2b;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p {
    color: #fff;
    font-size: 1.1rem;
}
#omeni {
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 100%;
}
#omeni h1 {
    color: #000;
    margin: 55px;
}
.omeni {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.omeni img {
    width: 500px;
    height: 400px;
    padding: 0 30px;
}
.ime {
    padding: 10px;
}
.ime h2 {
    font-size: 2rem;
}
.ime p {
    font-size: 1.2rem;
}
#kontakt {
    display: flex;
    flex-direction: column;
    background-color: #000000dc;
}
#kontakt h1 {
    margin: 50px;
}
.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: 0;
    border-radius: 25px;
}
#poruka {
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
#potvrdi {
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    background-color: #000000dc;
    color: #fff;
    border: none;
    outline: 0;
}
#potvrdi:hover {
    background-color: #ffde2b;
    color: #000;
    cursor: pointer;
}
